@import url('//fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

#editor .editor-styles-wrapper { // wrap everything in this to prevent overriding outside of the editor

    line-height: 1.5;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 0.875rem;
    padding-bottom: 8px !important;

    @import "style";

    body.post-php & {
        @media(min-width: 960px){
            max-width: 100ch;
            margin: 0 auto;
        }
    }

}

