@import url('//fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/*! sanitize.css v5.0.0 | CC0 License | github.com/jonathantneal/sanitize.css */
*, ::after, ::before {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

::after, ::before {
  text-decoration: inherit;
  vertical-align: inherit;
}

html {
  box-sizing: border-box;
  cursor: default;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

article, aside, footer, header, nav, section {
  display: block;
}

body {
  margin: 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

nav ol, nav ul {
  list-style: none;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

::-moz-selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none;
}

::selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none;
}

audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg {
  fill: currentColor;
}

svg:not(:root) {
  overflow: hidden;
}

table {
  border-collapse: collapse;
}

button, input, optgroup, select, textarea {
  margin: 0;
}

button, input, select, textarea {
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
  resize: vertical;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[tabindex], a, area, button, input, label, select, summary, textarea {
  touch-action: manipulation;
}

[hidden] {
  display: none;
}

[aria-busy=true] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-hidden=false][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  display: inherit;
  position: absolute;
}

[aria-disabled] {
  cursor: default;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1, .h1 {
  font-size: 3.125rem;
  line-height: 1.52;
}

h2, .h2 {
  font-size: 2.188rem;
  line-height: 1.52;
}

h3, .h3 {
  font-size: 1.563rem;
  line-height: 1.52;
}

h1, h2, h3, h4, h5, h6, p, li, ul, ol, blockquote, pre, code {
  margin-top: 0;
  margin-bottom: 0;
}

ul, ol {
  padding-left: 0;
  margin-left: 0;
}

blockquote {
  padding: 0;
  margin: 0;
}

button {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  text-align: left;
  padding: 0;
  cursor: pointer;
}

button[type="button"] {
  -webkit-appearance: none;
}

form {
  margin: 0;
}

iframe {
  border: 0;
}

svg {
  max-height: 11000px;
}

@media (max-width: 800px) {
  html {
    -webkit-text-size-adjust: 100%;
  }
}

body {
  line-height: 1.5;
  color: #000000;
  font-family: 'Poppins', sans-serif;
  font-size: 0.875rem;
  overflow-x: hidden;
}

body:not(.user-is-tabbing) a:focus,
body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:not([type=checkbox]):not([type=radio]):focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

body.noscroll {
  overflow: hidden;
}

.uicontainer {
  position: relative;
  z-index: 2;
  overflow: hidden;
}

a,
.fauxlink {
  text-decoration: underline;
  cursor: pointer;
  color: #C33082;
}

a:hover, a:focus, a:active,
.fauxlink:hover,
.fauxlink:focus,
.fauxlink:active {
  color: #22224A;
}

a[href^="tel"] {
  color: inherit;
  text-decoration: none;
}

strong, b {
  font-weight: 700;
}

input, textarea, select, button {
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #1D1D2C;
}

ol ol, ol ul, ul ol, ul ul {
  padding-left: 1.25rem;
}

ul {
  list-style-type: disc;
}

ul {
  &.no-style {
    list-style: none;
    margin-left: 0;
  }

  li::marker {
    color: #E4E4F0;
  }

  &.marker-pink {
    margin-left: 20px;
    li {
      margin-bottom: 10px;
    }
    
    li::marker {
      color: #C33082;
      font-size: 19px;
    }
  }
}

ol {
  list-style-type: decimal;

  &.marker-pink {
    margin-left: 20px;
    li {
      margin-bottom: 10px;
    }
    
    li::marker {
      color: #C33082;
      font-weight: bold;
    }
  }
}

.paging {
  position: relative;
  padding-top: 0.625rem;
  padding-bottom: 8vh;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;

    .page-numbers{
        text-decoration: none;

        &:not(.prev):not(.next) {
            width: 24px;
            height: 24px;
            border: 1px solid #ccc;
            display: inline-block;
            border-radius: 3px;
            text-align: center;
            margin: 2px;
            padding-top: 1px;
        }

        &.next {
            margin-left: 5px;
            &:after {
                background-image: url(../assets/icons/arrow/right/small/icon-arrow-right-pink.svg);
                content: "";
                width: 10px;
                height: 10px;
                display: inline-block;
                margin-left: 5px;
            }

            &:hover {
                color: #22224a;
            }
        }

        &.prev {
            margin-right: 5px;
            &:before {
                background-image: url(../assets/icons/arrow/left/small/icon-arrow-left-pink.svg);
                content: "";
                width: 10px;
                height: 10px;
                display: inline-block;
                margin-right: 5px;
            }
        }

        &.current {
            color: #666;
        }
    }
}

@media screen and (min-width: 600px) {
  .paging {
    padding-top: 3vh;
  }
}

.paging li {
  display: inline-block;
  text-align: center;
}

.paging li a {
  padding: 1em;
  color: #fff;
  font-size: calc(1rem + 0.2vw);
  text-decoration: none;
}

.paging li a:hover, .paging li a:focus, .paging li a:active {
  color: #8CECF9;
}

.paging li a.current {
  color: #FD94CE;
}

.learn .paging a {
  color: #C33082;
}

.learn .paging a:hover, .learn .paging a:focus, .learn .paging a:active {
  color: #22224A;
}

.learn .paging a.current {
  color: #1D1D2C;
}

.blog .paging a {
  color: #C33082;
}

.blog .paging a:hover, .blog .paging a:focus, .blog .paging a:active {
  color: #22224A;
}

.blog .paging a.current {
  color: #1D1D2C;
}

a.skiplink {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-200px);
  transition: transform 0.15s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  z-index: 10;
  padding: 0.9375rem;
  background-color: #22224A;
  text-align: center;
  color: #fff;
  will-change: transform;
  font-size: 0.875rem;
}

a.skiplink:focus, a.skiplink:active {
  outline: none;
  transform: translateY(0);
}

.h1, .typeset h1, .h2, .typeset h2, .h3, .typeset h3, .typeset h4, .typeset h5, .typeset h6, .cta-block a h6, .contact main h2, .contact aside h3, .h4, .prefooter > h5, .related > h5, .compare-heading, .compare-panel__header h1, .episode_title, .schedule-body > h2, .h5, .related_caption span, .schedule_event_ep, .h6, .tab-menu button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  font-weight: 700;
  color: #1D1D2C;
}

.text, .typeset p, .typeset li, .list {
  font-weight: 400;
  color: #1D1D2C;
}

.typeset h1 {
  font-size: 2.625rem;
  line-height: 1.2;
  margin-bottom: 0.5rem;

  @media(min-width: 900px){
    font-size: 3rem;
  }
}

.typeset h2 {
  font-size: 1.75rem;
  line-height: 1.2;
  margin-bottom: 0.5rem;

  @media(min-width: 900px){
    font-size: 2.125rem;
  }
}

.typeset h3, .contact main h2, .contact aside h3, .cta-block a h6 {
  font-size: 1.5rem;
  line-height: 1.2;
  margin-bottom: 0.5rem;

  @media(min-width: 900px){
    font-size: 1.625rem;
  }
}

.typeset h4 {
    font-size: 1.25rem;
    line-height: 1.2;
    margin-bottom: 0.5rem;

    @media(min-width: 900px){
        font-size: 1.5rem;
      }
}

.typeset h5 {
    font-size: 1.125rem;
    line-height: 1.2;
    margin-bottom: 0.5rem;

    @media(min-width: 900px){
        font-size: 1.375rem;
      }
}

.typeset h6 {
    font-size: 1rem;
    line-height: 1.2;
    margin-bottom: 0.5rem;

    @media(min-width: 900px){
        font-size: 1.25rem;
      }
}

.prefooter > h5, .related > h5, .compare-heading, .compare-panel__header h1, .episode_title, .schedule-body > h2 {
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-size: 1rem;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

.related_caption span, .schedule_event_ep {
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-size: 0.875rem;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

.tab-menu button {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 0.75rem;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

.text, .typeset p, .typeset li {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.list {
  font-size: 1rem;
  font-size: calc(1rem + 0.15vw);
  margin-bottom: 1rem;
}

.list ul, .list ol {
  margin-top: 0.5rem;
}

.list li {
  margin-bottom: 0.5rem;
}

.typeset h1 {
  margin-bottom: 0.5rem;
}

.typeset h2 {
  margin-bottom: 0.5rem;
}

.typeset h3, .typeset h4, .typeset h5, .typeset h6 {
  margin-bottom: 0.5rem;
}

.typeset p:last-of-type {
  margin-bottom: 0;
}

.typeset p, .typeset ol, .typeset ul {
  margin-bottom: 1rem;
}

.typeset ul ol,
.typeset ol ul {
  margin-bottom: 0;
}

.typeset img,
.typeset embed,
.typeset iframe {
  margin-top: 2.5rem;
  margin-bottom: 5rem;
}

.typeset img {
  max-width: 100%;
  height: auto;
}

.typeset p + h1, .typeset p + h2, .typeset p + h3, .typeset p + h4, .typeset p + h5, .typeset p + h6,
.typeset ul + h1,
.typeset ul + h2,
.typeset ul + h3,
.typeset ul + h4,
.typeset ul + h5,
.typeset ul + h6,
.typeset ol + h1,
.typeset ol + h2,
.typeset ol + h3,
.typeset ol + h4,
.typeset ol + h5,
.typeset ol + h6 {
  margin-top: 2rem;
}


@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 300;
  display: swap;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Segoe UI Light"), local("Ubuntu Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

@font-face {
  font-family: system-ui;
  font-style: italic;
  font-weight: 300;
  display: swap;
  src: local(".SFNSText-LightItalic"), local(".HelveticaNeueDeskInterface-Italic"), local(".LucidaGrandeUI"), local("Segoe UI Light Italic"), local("Ubuntu Light Italic"), local("Roboto-LightItalic"), local("DroidSans"), local("Tahoma");
}

@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 400;
  display: swap;
  src: local(".SFNSText-Regular"), local(".HelveticaNeueDeskInterface-Regular"), local(".LucidaGrandeUI"), local("Segoe UI"), local("Ubuntu"), local("Roboto-Regular"), local("DroidSans"), local("Tahoma");
}

@font-face {
  font-family: system-ui;
  font-style: italic;
  font-weight: 400;
  display: swap;
  src: local(".SFNSText-Italic"), local(".HelveticaNeueDeskInterface-Italic"), local(".LucidaGrandeUI"), local("Segoe UI Italic"), local("Ubuntu Italic"), local("Roboto-Italic"), local("DroidSans"), local("Tahoma");
}

@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 500;
  display: swap;
  src: local(".SFNSText-Medium"), local(".HelveticaNeueDeskInterface-MediumP4"), local(".LucidaGrandeUI"), local("Segoe UI Semibold"), local("Ubuntu Medium"), local("Roboto-Medium"), local("DroidSans-Bold"), local("Tahoma Bold");
}

@font-face {
  font-family: system-ui;
  font-style: italic;
  font-weight: 500;
  display: swap;
  src: local(".SFNSText-MediumItalic"), local(".HelveticaNeueDeskInterface-MediumItalicP4"), local(".LucidaGrandeUI"), local("Segoe UI Semibold Italic"), local("Ubuntu Medium Italic"), local("Roboto-MediumItalic"), local("DroidSans-Bold"), local("Tahoma Bold");
}

@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 700;
  display: swap;
  src: local(".SFNSText-Bold"), local(".HelveticaNeueDeskInterface-Bold"), local(".LucidaGrandeUI"), local("Segoe UI Bold"), local("Ubuntu Bold"), local("Roboto-Bold"), local("DroidSans-Bold"), local("Tahoma Bold");
}

@font-face {
  font-family: system-ui;
  font-style: italic;
  font-weight: 700;
  display: swap;
  src: local(".SFNSText-BoldItalic"), local(".HelveticaNeueDeskInterface-BoldItalic"), local(".LucidaGrandeUI"), local("Segoe UI Bold Italic"), local("Ubuntu Bold Italic"), local("Roboto-BoldItalic"), local("DroidSans-Bold"), local("Tahoma Bold");
}

.header {
  z-index: 202;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

@media screen and (min-width: 600px) {
  .header {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    -ms-grid-columns: minmax(50px, 80px) 1fr;
    grid-template-columns: minmax(50px, 80px) 1fr;
  }
}

@media screen and (min-width: 1300px) {
  .header {
    padding-top: 3vh;
  }
}

.prefooter, .related {
  position: relative;
  padding-top: 16vh;
  padding-bottom: 16vh;
  overflow: hidden;
}

.prefooter {
  background-color: white;
}

.prefooter:before, .related:before {
  content: "";
  width: 100px;
  height: 100px;
  display: block;
  background-color: #1D1D2C;
  position: absolute;
  top: -50px;
  left: -50px;
}

.prefooter:after, .related:after {
  content: "";
  width: 100px;
  height: 100px;
  display: block;
  border-radius: 50px;
  background-color: #fff;
  position: absolute;
  top: 0px;
  left: 0px;
}

.prefooter > h5, .related > h5 {
  margin-bottom: 3rem;
  text-align: center;
  z-index: 3;
  position: relative;
}

.prefooter--learn:before {
  background-color: #E4E4F0;
}

.prefooter--sizemore:before {
  background-color: #E4E4F0;
}

.prefooter--learn-single {
  background-color: #E4E4F0;
}

.prefooter--learn-single:before {
  background-color: #fff;
}

.prefooter--learn-single:after {
  background-color: #E4E4F0;
}

.prefooter--ctas {
  background-color: #1D1D2C;
}

.prefooter--ctas > h5 {
  color: #fff;
}

.prefooter--ctas:before {
  background-color: #fff;
}

.prefooter--ctas:after {
  background-color: #1D1D2C;
}

.prefooter--footer-top {
  padding: 0;
  height: 50px;
  margin-bottom: -50px;
  z-index: 1;
  background-color: #13131d;

  &:before {
    background-color: white;
  }

  &:after {
    background-color: #13131d;
  }
}

#bodycontent {
  background-color: white;
}

.row-edges, .header, .row, .paging, .footer, .prefooter, .related, .compare-panel, .blog-body, .episode, .home_body, .learn-body, .learn-bod, .page_body, .schedule-body, .hero-standard div, .feature-store-header, .provider-body, .newsletter-signup, .section-content-wrapper, #bodycontent > .wp-block-group > .wp-block-group__inner-container {
  padding-left: 30px;
  padding-right: 30px;
  padding-left: clamp(30px, 8%, 12vw);
  padding-right: clamp(30px, 8%, 12vw);
}

@media screen and (min-width: 1600px) {
  .row-edges, .header, .row, .paging, .footer, .prefooter, .related, .compare-panel, .blog-body, .episode, .home_body, .learn-body, .learn-bod, .page_body, .schedule-body, .hero-standard div, .feature-store-header, .provider-body, .newsletter-signup, .section-content-wrapper, #bodycontent > .wp-block-group > .wp-block-group__inner-container {
    padding-left: 15vw;
    padding-right: 15vw;
  }
}

.row, .paging, .footer, .prefooter, .related, .compare-panel, .blog-body, .episode, .home_body, .learn-body, .learn-bod, .page_body, .schedule-body {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  min-width: auto;
}

.hideEmpty br + br,
.hideEmpty h1:empty,
.hideEmpty h2:empty,
.hideEmpty h3:empty,
.hideEmpty h4:empty,
.hideEmpty h5:empty,
.hideEmpty h6:empty,
.hideEmpty p:empty,
.hideEmpty ul:empty,
.hideEmpty ol:empty,
.hideEmpty span:empty,
.hideEmpty cite:empty,
.hideEmpty div:empty {
  display: none;
}

.button,
a.button,
button.button{
  color: white;
  padding: 0.65rem 1.3rem;
  border-radius: 0.25rem;
  font-weight: 700;
  /* text-transform: uppercase; */
  /* letter-spacing: 0.25rem; */
  border: 0.0625rem solid rgba(0, 0, 0, 0.2);
  /* text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6); */
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  text-decoration: none;
  display: inline-block;
  background-image: none;
  text-align: center;
}

.button span {
  font-size: inherit;
  font-weight: inherit;
}

.button:focus,
input[type="submit"]:focus {
  outline: none;
}

.button,
a.button,
button.button {
  /* font-size: 0.875rem;
  line-height: 3.4375rem; */
  background-color: #1D1D2C;
  background-image: linear-gradient(88deg, rgba(140, 236, 249, 0.3) 0%, rgba(195, 48, 130, 0.2) 100%);
  /* box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.025) ,0px 2px 2px rgba(0, 0, 0, 0.0125) ,0px 4px 4px rgba(0, 0, 0, 0.025) ,0px 6px 6px rgba(0, 0, 0, 0.0375) ,0px 8px 8px rgba(0, 0, 0, 0.05) ; */
  transition: all ease-out 0.2s;
}

.button:hover, .button:focus, .button:active,
a.button:hover,
a.button:focus,
a.button:active,
button.button:hover,
button.button:focus,
button.button:active {
  /* text-decoration: none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.025) ,0px 2px 2px rgba(0, 0, 0, 0.0125) ,0px 4px 4px rgba(0, 0, 0, 0.025) ,0px 6px 6px rgba(0, 0, 0, 0.0375) ,0px 8px 8px rgba(0, 0, 0, 0.05) ,0px 10px 10px rgba(0, 0, 0, 0.0625) ,0px 12px 12px rgba(0, 0, 0, 0.075) ,0px 14px 14px rgba(0, 0, 0, 0.0875) ,0px 16px 16px rgba(0, 0, 0, 0.1) ;
  background-image: linear-gradient(88deg, rgba(140, 236, 249, 0.3) 0%, rgba(195, 48, 130, 0.2) 100%); */
  color: #8CECF9;
}

.button:focus,
a.button:focus,
button.button:focus {
  /* box-shadow: none;
  background-image: none;
  color: #272733; */
}

.buttonPrimary,
a.buttonPrimary,
button.buttonPrimary {
  background-color: #1D1D2C;
}

.buttonSecondary,
a.buttonSecondary,
button.buttonSecondary {
  background-color: white;
  color: #405666;
  border: 2px solid #405666;
  background-image: none;

  &:hover {
    color: #549FAB;
  }
}

.buttonIcon,
a.buttonIcon,
button.buttonIcon {
  padding-left: 2.8125rem;
  text-align: left;
}

.buttonIcon svg,
a.buttonIcon svg,
button.buttonIcon svg {
  position: absolute;
  top: 50%;
  left: 0.9rem;
  transform: translateY(-50%);
  height: 0.75rem;
  width: 0.75rem;
  display: block;
}

.compare-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-gap: 1.25rem;
}

@media screen and (min-width: 600px) {
  .compare-grid {
    -ms-grid-columns: 1fr 1.25rem 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 960px) {
  .compare-grid {
    -ms-grid-columns: 1fr 1.25rem 1fr 1.25rem 1fr;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1300px) {
  .compare-grid {
    -ms-grid-columns: 1fr 1.25rem 1fr 1.25rem 1fr 1.25rem 1fr;
    grid-template-columns: repeat(4, 1fr);
  }
}

.compare-heading {
  margin-bottom: 3rem;
  text-align: center;
  z-index: 3;
  position: relative;
}

.compare-item {
  position: relative;
  padding: 2em;
  background-color: #fff;
  border-radius: 20px;
}

.compare-item__label {
  display: inline-block;
  margin-bottom: 1rem;
  font-weight: normal;
}

.compare-item__logo {
  display: block;
  width: 100%;
  height: auto;
}

.compare-item__heading {
  font-size: 1.25rem;
  font-weight: 700;
}

.compare-item__blurb {
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

.compare-item__rating li {
  display: inline-block;
}

.compare-item__rating li.fade {
  filter: grayscale(100%);
}

.compare-toast {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  background-color: #fff;
  padding: 2em 1.5em;
  box-shadow: 0 -20px 20px rgba(0, 0, 0, 0.008) ,0 -40px 40px rgba(0, 0, 0, 0.016) ,0 -80px 80px rgba(0, 0, 0, 0.032) ,0 -120px 120px rgba(0, 0, 0, 0.048) ,0 -160px 160px rgba(0, 0, 0, 0.064) ;
}

.compare-toast > div {
  display: -ms-grid;
  display: grid;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  -ms-grid-columns: 1fr 0.625rem 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.625rem;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 600px) {
  .compare-toast > div {
    -ms-grid-columns: 1fr 0.625rem 1fr 0.625rem 1fr 0.625rem 1fr;
    grid-template-columns: repeat(4, 1fr);
  }
}

.compare-toast__item {
  position: relative;
  padding: 0.625rem;
  border: 1px solid #272733;
  cursor: pointer;
  height: 100%;
  text-align: center;
}

@media screen and (max-width: 599px) {
  .compare-toast .hidesm {
    display: none;
  }
}

.compare-toast__logo {
  width: 100%;
  height: auto;
}

.compare-toast__remove {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 0px;
  right: -6px;
}

.compare-toast__remove svg {
  width: 22px;
  height: 22px;
  transform: rotateZ(45deg);
}

@media screen and (max-width: 599px) {
  .compare-toast .button {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
  }
}

.compare-table, .compare-panel__header > div, .compare-panel__body {
  display: -ms-grid;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  -ms-grid-columns: 1fr 1.875rem 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.875rem;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 600px) {
  .compare-table, .compare-panel__header > div, .compare-panel__body {
    -ms-grid-columns: 1fr 1.875rem 1fr 1.875rem 1fr;
    grid-template-columns: repeat(3, 1fr);
  }
}

.compare-panel {
  position: relative;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  padding-top: 100px;
  padding-bottom: 12vh;
}

.compare-panel__header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 100;
  padding-top: 1.5rem;
  margin-bottom: 2rem;
}

.compare-panel__header > div {
  padding-bottom: 2rem;
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.025) ,0 100px 100px rgba(0, 0, 0, 0.0125) ,0 200px 200px rgba(0, 0, 0, 0.025) ,0 300px 300px rgba(0, 0, 0, 0.0375) ,0 400px 400px rgba(0, 0, 0, 0.05) ;
}

.compare-panel__header label {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  white-space: nowrap;
}

.compare-panel__header h1 {
  margin-bottom: 1rem;
}

.compare-panel__header h1 button {
  width: 44px;
  height: 44px;
  transform: translateY(-2px);
  cursor: pointer;
}

.compare-panel__header h1 button svg {
  width: 22px;
  height: 22px;
  transform: rotateZ(45deg);
}

@media screen and (max-width: 599px) {
  .compare-panel__col.hidesm {
    display: none;
  }
}

.compare-panel__col img {
  max-width: 100%;
  height: auto;
  padding: 0.1875rem;
  border: 1px solid #E4E4F0;
  margin-bottom: 1rem;
}

.compare-panel__col .div {
  border-top: 1px solid #E4E4F0;
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.compare-panel__col__label {
  display: inline-block;
  margin-bottom: 1rem;
  font-weight: normal;
}

.compare-panel__col__heading {
  font-size: 1.25rem;
  font-weight: 700;
}

.compare-panel__col__subheading {
  font-size: 1rem;
  font-weight: 700;
}

.compare-panel__col__blurb {
  font-weight: normal;
  line-height: 1.2;
}

.compare-panel__col__rating li {
  display: inline-block;
}

.compare-panel__col__rating li.fade {
  filter: grayscale(100%);
}

.cta-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-gap: 0.9375rem;
}

@media screen and (min-width: 960px) {
  .cta-block {
    -ms-grid-columns: 1fr 0 1fr 0 1fr 0 1fr 0 1fr 0 1fr;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0;
  }
}

.cta-block a {
  background-color: #1f0815;
  background-image: linear-gradient(91deg, rgba(34, 34, 74, 0.5), rgba(195, 48, 130, 0.3));
  padding: 2.5rem;
  position: relative;
  display: -ms-grid;
  display: grid;
  color: #fff;
  text-decoration: none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.008) ,0px 2px 2px rgba(0, 0, 0, 0.016) ,0px 4px 4px rgba(0, 0, 0, 0.032) ,0px 6px 6px rgba(0, 0, 0, 0.048) ;
  transition: transform 0.2s ease;
  will-change: auto;
}

.cta-block a:hover, .cta-block a:focus, .cta-block a:active {
  transform: scale(1.05);
  z-index: 10;
}

@media screen and (min-width: 960px) {
  .cta-block a {
    padding: 3.75rem;
  }
  .cta-block a:nth-of-type(1) {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
  }
  .cta-block a:nth-of-type(2) {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3 / span 2;
    background-image: linear-gradient(-9deg, rgba(34, 34, 74, 0.5), rgba(195, 48, 130, 0.3));
  }
  .cta-block a:nth-of-type(3) {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
    grid-column: 5 / span 2;
    background-image: linear-gradient(21deg, rgba(34, 34, 74, 0.5), rgba(195, 48, 130, 0.3));
  }
  .cta-block a:nth-of-type(4) {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / span 3;
    background-image: linear-gradient(-43deg, rgba(34, 34, 74, 0.5), rgba(195, 48, 130, 0.3));
  }
  .cta-block a:nth-of-type(5) {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 4;
    -ms-grid-column-span: 3;
    grid-column: 4 / span 3;
    background-image: linear-gradient(-11deg, rgba(34, 34, 74, 0.5), rgba(195, 48, 130, 0.3));
  }
}

.cta-block a h6 {
  color: #fff;
  line-height: 1.3;
  margin-bottom: 0.5rem;
}

.cta-block a svg {
  width: 80px;
  height: 80px;
  transform: translateX(-14px);
}

html > body .form-elementError input[type], html > body .form-elementError textarea, html > body .form-elementError select {
  border-color: #B10E1E;
}

form {
  position: relative;
}

fieldset {
  border: none;
  padding: 0.01em 0 0 0;
}

fieldset + fieldset {
  margin-top: 2rem;
}

legend {
  font-size: 1.625rem;
  color: #1D1D2C;
  display: block;
  margin-bottom: 0.5em;
}

label {
  font-size: 1rem;
  color: #1D1D2C;
  display: block;
  font-weight: 700;
}

.form-elementError label {
  color: #B10E1E;
}

input:not([type=checkbox]):not([type=radio]) {
  border: 0.0625rem solid #272733;
  height: 3.4375rem;
  font-size: 1rem;
  border-radius: 0rem;
  padding: 0 0.625rem;
  display: block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  outline: none;
  background-color: #f4f4f9;
}

input:not([type=checkbox]):not([type=radio])::-webkit-inner-spin-button, input:not([type=checkbox]):not([type=radio])::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

input:not([type=checkbox]):not([type=radio]):focus {
  border-color: #984C9A;
  outline: none;
  background-color: none;
}

textarea {
  font-size: 1rem;
  padding: 0.625rem;
  display: block;
  width: 100%;
  border: 0.0625rem solid #272733;
  outline: none;
  background-color: #f4f4f9;
}

textarea:focus {
  border-color: #984C9A;
  outline: none;
  background-color: none;
}

select {
  font-size: 1rem;
  height: 3.4375rem;
  border: 0.0625rem solid #272733;
  border-radius: 0rem;
  padding: 0 0.625rem;
  width: 100%;
  display: block;
  vertical-align: middle;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='%23444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
  background-position: 99.5% 50%;
  background-repeat: no-repeat;
  outline: none;
}

select:hover, select:active {
  cursor: pointer;
}

select:focus {
  border-color: #984C9A;
  outline: none;
}

.form-element {
  position: relative;
}

.form-element__notes {
  display: none;
  position: relative;
}

.form-elementError .form-element__notes {
  display: block;
  padding: 0.5em 1em;
  background-color: #E4E4F0;
  border: 0.0625rem solid #a2a2cc;
  border-top: 0;
}

.form-elementHint .form-element__notes {
  display: block;
  padding-top: 0.5em;
}

.form-element__hint, .form-element__error-message {
  color: #1D1D2C;
  font-size: 1rem;
  clear: left;
  display: block;
}

.form-element__error-message {
  color: #B10E1E;
}

.form-elementRadioCheckbox {
  height: 100%;
}

.form-elementRadioCheckbox label {
  position: relative;
  vertical-align: middle;
  padding: 0.5em 0;
  cursor: pointer;
}

.form-elementRadioCheckbox input {
  margin-right: 0.75rem;
  vertical-align: middle;
}

.form-elementRadioCheckbox input:focus {
  outline-color: #984C9A;
}

.form-elementRadioCheckbox input[type="radio"],
.form-elementRadioCheckbox input[type="checkbox"] {
  width: 1.375rem;
  height: 1.375rem;
  position: relative;
}

.formfield {
  position: relative;
}

.formfield:after {
  content: "";
  display: table;
  clear: both;
}

.formfieldSpaced {
  margin-top: 2rem;
}

.hero-standard {
  background-color: #e3fafe;
  background-blend-mode: screen;
  background-size: cover;
  position: relative;
  min-height: 60vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -ms-grid-columns: 1;
  grid-template-columns: 1;
  overflow: hidden;
  z-index: 2;
  border-bottom-right-radius: 50px;

  div {
      width: 100%;
  }
}

.learn .hero-standard {
  background-color: #E4E4F0;
}

.blog--list .hero-standard {
  background-color: #E4E4F0;
}

.hero-standard img {
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-column-align: center;
      justify-self: center;
  mix-blend-mode: overlay;
  height: 100%;
  width: 100vw;
  position: absolute;
  filter: grayscale(100%);
  z-index: 1;
}

.hero-standard div {
  -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-column-align: left;
      justify-self: left;
  z-index: 3;
}

.hero-standard div h1 {
  font-size: 3rem;
  font-size: calc(1rem + 5vw);
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: -0.04em;
  transform: translateY(-50%);
}

.hero-episode, .hero-learnsingle, .hero-post, .hero-default, .hero-home {
  background-color: #e3fafe;
  background-blend-mode: screen;
  background-size: cover;
  position: relative;
  height: 90vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -ms-grid-columns: 1;
  grid-template-columns: 1;
  overflow: hidden;
  z-index: 2;
  border-bottom-right-radius: 50px;
}

.hero-episode img, .hero-learnsingle img, .hero-post img, .hero-default img, .hero-home img {
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-column-align: center;
      justify-self: center;
  mix-blend-mode: overlay;
  height: 100%;
  width: 100vw;
  position: absolute;
  filter: grayscale(100%);
  z-index: 1;
}

.hero-episode div, .hero-learnsingle div, .hero-post div, .hero-default div, .hero-home div {
  -ms-grid-row-align: end;
      align-self: end;
}

.hero-episode div span, .hero-learnsingle div span, .hero-post div span, .hero-default div span, .hero-home div span {
  letter-spacing: 0.5em;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-size: calc(0.625rem + 0.25vw);
  margin-bottom: 1rem;
  text-align: center;
  display: block;
}

.hero-episode div h1, .hero-learnsingle div h1, .hero-post div h1, .hero-default div h1, .hero-home div h1 {
  font-size: 3rem;
  font-size: calc(1rem + 4vw);
  line-height: 1.2;
  margin-bottom: 2.5rem;
  font-weight: 700;
  letter-spacing: -0.03em;
  text-align: center;
  max-width: 80%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.hero-learnsingle {
  background-color: #E4E4F0;
  background-blend-mode: screen;
  border-bottom-right-radius: 50px;
}

.hero-learnsingle div h1 {
  font-size: calc(1rem + 4vw);
  max-width: 1200px;
}

.hero-post {
  border-bottom-right-radius: 50px;
}

.hero-post div h1 {
  font-size: calc(1rem + 2vw);
  max-width: 800px;
}

.hero-default {
  background-color: #E4E4F0;
  background-blend-mode: screen;
  border-bottom-right-radius: 50px;
  height: 65vh;
}

.hero-default div h1 {
  font-size: calc(1rem + 4vw);
  max-width: 1200px;
}

.wp-block-group__inner-container {
  h2 {
    margin-bottom: 20px;
  }
}

.hero-home {
  background-color: rgba(34, 34, 74, 0.6);
  background-image: linear-gradient(122deg, rgba(34, 34, 74, 0.5), rgba(152, 76, 154, 0.3));
  background-blend-mode: normal;

  h1 {
    font-size: calc(1rem + 4vw);
    max-width: 800px;
    color: #fff;
    // margin-bottom: 1rem !important;

    @media screen and (min-width: 1600px) {
        max-width: 1100px;
    }
  }

  p {
    @extend h2;
    max-width: 800px;
    color: #fff;
    text-align: center;
    font-weight: normal;
    margin: 0 auto 2.5rem;
    font-size: calc(1rem + 2vw);

    @media screen and (min-width: 1600px) {
        max-width: 1100px;
    }
  }
}

.hero-home img {
  opacity: 0.2;
  background-blend-mode: normal;
  filter: none;
}

.logo {
  display: flex;
  align-items: center;
  height: 47px;
  overflow: hidden;
  width: 42px;
}

.logo svg {
  width: 42px;
  height: 47px;
  position: relative;
  z-index: 5;
}

.logo svg path {
  fill: #C33082;
}

.l-home .logo svg path {
  fill: #fff;
}

.logo span {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  white-space: nowrap;
}

.related > h5 {
  margin-bottom: 3rem;
  text-align: center;
  z-index: 3;
  position: relative;
}

.related_content {
  display: -ms-grid;
  display: grid;
  grid-gap: 1.25rem;
  -ms-grid-columns: 1fr;
  grid-template-columns: repeat(1, 1fr);
}

@media screen and (min-width: 600px) {
  .related_content {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}

.related_caption {
  position: absolute;
  z-index: 2;
  left: 5%;
  right: 5%;
  bottom: 5%;
}

.related_caption h4 {
  font-size: 3rem;
  font-size: calc(1rem + 1.5vw);
  font-weight: 700;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

.related_caption h5 {
  font-size: 2.25rem;
  font-size: calc(1rem + 0.3vw);
  line-height: 1.4;
}

.related_caption span {
  display: block;
  margin-bottom: 1rem;
}

.related a {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  background-color: #8CECF9;
  background-image: url(/wp-content/themes/mlops/assets/img/bkg2.jpg);
  background-blend-mode: screen;
  background-size: cover;
  z-index: 1;
}

.related a:focus {
  outline: 3px solid #C33082;
}

.related a:nth-of-type(odd) {
  background-color: #FD94CE;
  background-image: url(/wp-content/themes/mlops/assets/img/bkg3.jpg);
}

.related a:hover img, .related a:focus img, .related a:active img {
  opacity: 1;
}

@media screen and (min-width: 600px) {
  .related a {
    width: 100%;
    height: 0;
    padding-bottom: 80%;

    &:first-child:last-child {
        width: 50%;
        margin: 0 auto;
        height: auto;
        padding: 25% 5% 5% 5%;
        text-decoration: none;

        img {
            top: 0;
            left: 0;
        }

        .related_caption {
            position: relative;
        }
    }
  }
}

.related a img {
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-column-align: center;
      justify-self: center;
  mix-blend-mode: screen;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  opacity: 0;
  transition: all ease 1s;
  will-change: auto;
}

.sponsors-grid {
  list-style-type: none;
  @media(min-width: 600px){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

.sponsors-grid li {
  padding: 0 10px;
  margin: 0 auto 30px;
  max-width: 150px;

  @media(min-width: 600px){
    flex-basis: 25%;
    padding: 0 25px;
    max-width: none;
    margin: 0 0 30px;
  }

  @media(min-width: 1200px){
    flex-basis: 16.6667%;
    margin-bottom: 0;
  }
}

.sponsors-grid img {
  height: auto;
  display: block;

  @media(max-width: 599px){
    //max-width: 50%;
    margin: 0 auto;
  }
}

.tab-menu {
  margin-bottom: 1.5rem;

  ul {
    display: flex;
  }
}

.tab-menu li {
  display: inline-flex;
}

.tab-menu li + li {
  margin-left: 1.375rem;
}

.tab-menu button {
  color: #E4E4F0;
  cursor: pointer;
  margin-bottom: 0;
}

.tab-menu button:hover, .tab-menu button:focus, .tab-menu button:active {
  color: #FD94CE;
}

.tab-menu button.active {
  color: #8CECF9;
}

.tab {
  display: none !important;
}

.tab.current {
  display: -ms-grid !important;
  display: grid !important;
}

.video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videor32 {
  width: 100%;
  height: 0;
  padding-bottom: 66.66667%;
}

.blog {
  position: relative;
  border-bottom-right-radius: 50px;
}

.blog-single {
  background-color: #1D1D2C;
  border-bottom-right-radius: 0;
}

.blog-author {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-gap: 1em;
  -ms-grid-columns: 40px 1em 1fr;
  grid-template-columns: 40px 1fr;
  align-items: center;
  margin-bottom: 2.5rem;
}

.blog-author h2 {
  font-size: 1rem;
  line-height: 1.2;
  font-weight: normal;
  transform: translateY(2px);
}

.blog-author img {
  width: 40px;
  height: 40px;
  display: block;
  border-bottom-right-radius: 50%;
}

.blog-body {
  position: relative;
  padding-top: 3.125rem;
  padding-bottom: calc(3.125rem / 2);
  padding-top: 12vh;
  padding-bottom: 6vh;
  border-bottom-right-radius: 50px;
  background-color: #fff;
}

.blog-body:before {
  content: "";
  width: 100px;
  height: 100px;
  display: block;
  background-color: #fff;
  position: absolute;
  top: -50px;
  right: -50px;
  z-index: 1;
}

.blog-article {
  position: relative;
  max-width: 65ch;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 960px) {
  .blog-article {
    max-width: 100ch;
  }
}

.blog-footer {
  margin-top: 4.5rem;
}

.blog-footer ul {
  margin-top: 1.5rem;
}

.blog-grid {
    article {
        transition: all ease-in-out 0.3s;
        padding: 0;
        overflow: hidden;
        border: 1px solid #efefef;

        + article {
            margin-top: 20px;
        }

        @media(min-width: 600px){
            flex-direction: row-reverse;
            min-height: 200px;
        }

        &:hover{
            transform: scale(1.02);
        }

        main {
            padding: 20px;

            @media(min-width: 600px){
                padding: 30px;
                width: 75%;
                flex: 0 0 75%;
            }
        }

        .thumb {
            display: block;
            height: 200px;

            @media(min-width: 600px){
                margin: 0;
                max-width: calc(100% + 40px);
                width: 25%;
                flex: 0 0 25%;
                height: auto;
            }

            img {
                object-fit: cover;
                object-position: center;
                width: 100%;
                height: 100%;
            }
        }

        .date {
            margin-bottom: .5rem;
        }

        .excerpt {
            margin-bottom: 0;
            a {
                color: #c33082;
                margin-top: 0.5rem;

                &:after {
                    content: "";
                    background-image: url(../assets/icons/arrow/right/small/icon-arrow-right-pink.svg);
                    width: 10px;
                    height: 10px;
                    display: inline-block;
                    margin-left: 5px;
                }

                &:hover {
                    color: #22224a;
                }
            }
        }

        h2 {
            font-size: 1.625rem;
            line-height: 1.2;
            margin-bottom: 0.5rem;
            transition: all ease-in-out 0.3s;
            font-weight: 700;
        }

        a {
            text-decoration: none;
            display: block;
            transition: all ease-out 0.2s;
        }
    }
}

.contact {
  display: -ms-grid;
  display: grid;
  row-gap: 4em;
}

@media screen and (min-width: 960px) {
  .contact {
    -ms-grid-columns: 1fr 18% minmax(250px, 450px);
    grid-template-columns: 1fr minmax(250px, 450px);
    -moz-column-gap: 18%;
         column-gap: 18%;
  }
}

.contact main h2 {
  margin-bottom: 2.5rem;
}

@media screen and (min-width: 960px) {
  .contact main form {
    max-width: 700px;
  }
}

.contact main form textarea {
  min-height: 300px;
}

.contact aside {
  background-color: #1D1D2C;
  background-image: linear-gradient(-168deg, rgba(140, 236, 249, 0.5) 0%, rgba(195, 48, 130, 0.5) 100%);
  padding: 2em 3em;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.contact aside h3 {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  color: #fff;
}

.contact aside ul {
  list-style-type: none;
}

.contact aside ul li {
  font-size: 1.625rem;
  margin-bottom: 0.5rem;
}

.contact aside ul li a {
  color: #fff;
}

.contact aside ul li a:hover, .contact aside ul li a:focus, .contact aside ul li a:active {
  color: #8CECF9;
}

.contact aside ul svg {
  width: 46px;
  height: 46px;
  transform: translateY(-1px) translateX(-6px);
}

.episode-article {
  background-color: #1D1D2C;

  &.bbrr {
    border-bottom-right-radius: 50px;
  }
}

.episode {
  position: relative;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-row-gap: 3.75rem;
}

@media screen and (min-width: 960px) {
  .episode {
    padding-top: 0;
    padding-bottom: 0;
    grid-row-gap: 0;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

.episode_intro {
  font-size: 1.625rem;
  font-size: calc(1rem + 0.4vw);
  line-height: 1.6;
  color: #fff;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
}

.episode_title {
  color: #FD94CE;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
}

.episode_speakers {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-gap: 1.875rem;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 600px) {
  .episode_speakers {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.episode_speakers a {
  color: #FD94CE;
}

.episode_speakers a:hover, .episode_speakers a:focus, .episode_speakers a:active {
  color: #8CECF9;
}

.episode_speakers img {
  width: 100%;
  height: auto;
  display: block;
  margin-top: 1rem;
}

@media screen and (min-width: 600px) {
  .episode_speakers img {
    max-width: 400px;
  }
}

.episode_speakers h4 {
  color: #E4E4F0;
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 1rem;
}

.episode_speakers p {
  color: #E4E4F0;
  font-size: 1rem;
  margin-top: 0.5rem;
  max-width: 400px;
}

.episode main {
  position: relative;
  z-index: 2;
}

@media screen and (min-width: 960px) {
  .episode main {
    padding-top: 12vh;
    padding-bottom: 12vh;
    padding-left: 6vw;
    border-left: 1px solid rgba(140, 236, 249, 0.3);
  }
}

.episode main .typeset {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.episode main .typeset p, .episode main .typeset li, .episode main .typeset h1, .episode main .typeset h2, .episode main .typeset h3, .episode main .typeset h4, .episode main .typeset h5, .episode main .typeset h6 {
  color: #E4E4F0;
}

.episode main a {
  color: #FD94CE;
}

.episode main a:hover, .episode main a:focus, .episode main a:active {
  color: #8CECF9;
}

.episode main .episode_speakers {
  max-width: 800px;
}

.episode aside {
  position: relative;
  z-index: 2;
}

.episode aside a {
  color: #FD94CE;
}

.episode aside a:hover, .episode aside a:focus, .episode aside a:active {
  color: #8CECF9;
}

@media screen and (min-width: 960px) {
  .episode aside {
    padding-right: 6vw;
    padding-top: 12vh;
    padding-bottom: 12vh;
  }
}

.episode aside .episode_speakers {
  margin-bottom: 5.5rem;
}

.episode_media h3 {
  color: #E4E4F0;
  font-size: 1.25rem;
  margin-top: 1.5rem;
}

.episode_media h4 {
  color: #E4E4F0;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  margin-top: 2.5rem;
}

.episode_media ul {
  margin-top: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(20px, 30px));
  list-style: none;
}

.episode_media ul a {
  display: block;
}

.episode_media ul img {
  display: block;
  width: 100%;
  height: auto;
}

.episode_media ul img[src*="amazon"] {
  transform: translateY(5px);
}

.episode_media ul img[src*="youtube"] {
  transform: translateY(5px);
}

// .episode_media ul img[src*="spotify"] {
//   transform: translateY(3px);
// }

.episode_media .iframe-wrapper iframe {
  width: 100%;
}

@media screen and (min-width: 960px) {
  .episode_media {
    position: -webkit-sticky;
    position: sticky;
    top: 2.5rem;
  }
}

.episode_sponsor h3 {
  color: #E4E4F0;
  font-size: 1.25rem;
  margin-top: 1.5rem;
}

section.home {
  position: relative;
  background-color: #1f0815;
  background-image: linear-gradient(91deg, rgba(34, 34, 74, 0.5), rgba(195, 48, 130, 0.3));
  //padding-bottom: 6vh;
  border-bottom-right-radius: 50px;
}

.home_body {
  position: relative;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  padding-top: 12vh;
  padding-bottom: 12vh;
}

.home_body .video {
  margin-top: 4rem;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.008) ,0px 2px 2px rgba(0, 0, 0, 0.016) ,0px 4px 4px rgba(0, 0, 0, 0.032) ,0px 6px 6px rgba(0, 0, 0, 0.048) ,0px 8px 8px rgba(0, 0, 0, 0.064) ,0px 10px 10px rgba(0, 0, 0, 0.08) ,0px 12px 12px rgba(0, 0, 0, 0.096) ,0px 14px 14px rgba(0, 0, 0, 0.112) ,0px 16px 16px rgba(0, 0, 0, 0.128) ;
  background-color: black;
}

.home_intro {
  color: #fff;
}

.home_intro p {
  max-width: 50ch;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: calc(1rem + 0.5vw);
}

.learn {
  position: relative;
  background-color: #E4E4F0;
  border-bottom-right-radius: 50px;
}

.learn-single {
  background-color: #E4E4F0;
  border-bottom-right-radius: 0;
}

.learn-body, .learn-bod {
  position: relative;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  padding-top: 12vh;
  padding-bottom: 12vh;
  border-bottom-right-radius: 50px;
  background-color: #fff;
}

.learn-body:before, .learn-bod:before {
  content: "";
  width: 100px;
  height: 100px;
  display: block;
  background-color: #fff;
  position: absolute;
  top: -50px;
  right: -50px;
  z-index: 1;
}

.learn-bod {
  background-color: transparent;
}

.learn-bod:before {
  display: none;
}

.learn-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  // -ms-grid-columns: 1fr;
  // grid-template-columns: repeat(1, 1fr);
  grid-gap: 3.75rem;
}

@media screen and (min-width: 600px) {
  .learn-grid {
    -ms-grid-columns: 1fr 1.875rem 1fr;
    // grid-template-columns: repeat(2, 1fr);
    // grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
    // grid-column-gap: 1.875rem;
    grid-row-gap: 3.75rem;
  }
}

@media screen and (min-width: 960px) {
  .learn-grid {
    // grid-column-gap: 2.5rem;
    grid-row-gap: 3.75rem;
  }
}

.learn-grid article {
  overflow: hidden;
  z-index: 0;
  background-color: #fff;
  transition: transform 0.2s ease-out;
}

.learn-grid article:hover, .learn-grid article:focus, .learn-grid article:active {
  transform: translateY(-2%);
}

.learn-grid article img {
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  min-height: 250px;
}

@media screen and (min-width: 600px) {
  .learn-grid article div {
    order: 2;
    min-height: auto;
  }
}

.learn-grid article main {
  padding: 3em;
  padding-top: 2.5rem;
  -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (min-width: 600px) {
  .learn-grid article main {
    order: 1;
  }
}

.learn-grid article h2 {
  font-size: 1.625rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  transition: all ease-in-out 0.3s;
  font-weight: 700;
}

@media screen and (min-width: 960px) {
  .learn-grid article h2 {
    font-size: 2.25rem;
    line-height: 1.2;
  }
}

.learn-grid article p, .learn-grid article li {
  font-size: 1rem;
}

.learn-grid article a, .learn-grid article > div {
  color: #1D1D2C;
  text-decoration: none;
  z-index: 2;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  height: 100%;
}

@media screen and (min-width: 600px) {
  .learn-grid article a, .learn-grid article > div {
    -ms-grid-columns: 1fr minmax(100px, 200px);
    grid-template-columns: 1fr minmax(100px, 200px);
  }
}

.learn-grid article a:focus {
  border: 1px solid #C33082;
}

.learn-article {
  position: relative;
  max-width: 65ch;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 960px) {
  .learn-article {
    max-width: 75ch;
  }
}

.newsletter main > h2 {
  text-align: center;
}

.newsletter form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
}

.page {
  position: relative;
}

.page_body {
  position: relative;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  padding-top: 12vh;
  padding-bottom: 12vh;
  border-bottom-right-radius: 50px;
  background-color: #fff;
}

.page_body article.newsletter {
  position: relative;
  max-width: 65ch;
  margin-left: auto;
  margin-right: auto;
}

.schedule {
  position: relative;
  background-color: #1D1D2C;
  border-bottom-right-radius: 50px;
}

.schedule-body {
  position: relative;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  padding-top: 8vh;
  padding-bottom: 8vh;
  color: #fff;
}

.schedule-body > h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 4rem;
}

.schedule-events {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -ms-grid-columns: 1fr;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 3.75rem;
}

@media screen and (min-width: 600px) {
  .schedule-events {
    -ms-grid-columns: 1fr 1.875rem 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-column-gap: 1.875rem;
    grid-row-gap: 3.75rem;
  }
}

@media screen and (min-width: 960px) {
  .schedule-events {
    grid-column-gap: 2.5rem;
    grid-row-gap: 3.75rem;
  }
}

.schedule-home {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -ms-grid-columns: 1fr;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 3.75rem;
}

@media screen and (min-width: 960px) {
  .schedule-home {
    -ms-grid-columns: 1fr 1.875rem 1fr 1.875rem 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 1.875rem;
    grid-row-gap: 3.75rem;
  }
}

@-webkit-keyframes an-speaker-thumb {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-25px);
  }
  60% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes an-speaker-thumb {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-25px);
  }
  60% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

.schedule_event {
  background-color: rgba(0, 0, 0, 0.2);

  &:first-child:last-child {
      @media screen and (min-width: 960px) {
        margin: 0 auto;
        width: 50%;
      }
  }
}

.schedule_event a {
  text-decoration: none;
  color: #E4E4F0;
  height: 100%;
  display: block;
  transition: all ease-in-out 0.3s;
}

.schedule_event a:hover h1, .schedule_event a:focus h1, .schedule_event a:active h1 {
  color: #8CECF9;
}

.schedule_event a:hover .schedule_event_tile, .schedule_event a:focus .schedule_event_tile, .schedule_event a:active .schedule_event_tile {
  opacity: 1;
}

.schedule_event a:hover .schedule_event_speakers img, .schedule_event a:focus .schedule_event_speakers img, .schedule_event a:active .schedule_event_speakers img {
  -webkit-animation-name: an-speaker-thumb;
          animation-name: an-speaker-thumb;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.schedule_event h2 {
  font-size: 1.25rem;
  line-height: 1.4;
  margin-bottom: 1.5rem;
  color: #fff;
  transition: all ease-in-out 0.3s;
}

@media screen and (min-width: 960px) {
  .schedule_event h2 {
    font-size: 1.625rem;
  }
}

.schedule_event p, .schedule_event li {
  font-size: 1rem;
}

.schedule_event header {
  position: relative;
}

.schedule_event_ep {
  color: #FD94CE;
}

.schedule_event_tile {
  width: 100%;
  height: 0;
  padding-bottom: 66.66667%;
  position: relative;
  background-color: #8CECF9;
  background-image: url(/wp-content/themes/mlops/assets/img/bkg1.jpg);
  background-size: cover;
  background-blend-mode: overlay;
  opacity: 0.5;
  transition: all ease-in-out 0.3s;
}

.schedule-events--past .schedule_event_tile {
  filter: grayscale(100%);
}

.schedule_event_speakers {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, 60px));
  position: absolute;
  left: 0;
  right: 0;
  width: 95%;
  bottom: -15px;
}

@media screen and (min-width: 960px) {
  .schedule_event_speakers {
    grid-template-columns: repeat(auto-fit, minmax(30px, 80px));
  }
}

.schedule_event_speakers img {
  width: 100%;
  height: auto;
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.025) ,0px 2px 2px rgba(0, 0, 0, 0.0125) ,0px 4px 4px rgba(0, 0, 0, 0.025) ,0px 6px 6px rgba(0, 0, 0, 0.0375) ,0px 8px 8px rgba(0, 0, 0, 0.05) ,0px 10px 10px rgba(0, 0, 0, 0.0625) ;
  transform: translateY(0);
}

.schedule-events--past .schedule_event_speakers img {
  filter: grayscale(100%);
}

.schedule_event_description {
  padding: 3.75rem 1.875rem 1.875rem 1.875rem;
}

@media screen and (min-width: 960px) {
  .schedule_event_description {
    padding: 3.75rem 2.5rem 2.5rem 2.5rem;
  }
}

.schedule_event_details {
  list-style-type: none;
}

.schedule_event_details li {
  margin-bottom: 0.5rem;
  position: relative;
}

.schedule_event:nth-child(1n) .schedule_event_tile {
  background-color: #8CECF9;
}

.schedule_event:nth-child(2n) .schedule_event_tile {
  background-color: #FD94CE;
}

.schedule_event:nth-child(3n) .schedule_event_tile {
  background-color: #984C9A;
}

.schedule_event:nth-child(4n) .schedule_event_tile {
  background-color: #C33082;
}

.schedule_event_speakers img:nth-child(1n) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.schedule_event_speakers img:nth-child(2n) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.schedule_event_speakers img:nth-child(3n) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.schedule_event_speakers img:nth-child(4n) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.schedule_event_speakers img:nth-child(5n) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.schedule_event_speakers img:nth-child(6n) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.schedule_event_speakers img:nth-child(7n) {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

.schedule_event_speakers img:nth-child(8n) {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

.schedule_event_speakers img:nth-child(9n) {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.schedule_event_speakers img:nth-child(10n) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.page-template-template-home, .page-template-template-schedule-all, .page-template-template-schedule-past {
  .prefooter--sizemore:before {
    background-color: #1d1d2c;
  }
}

.page-template-template-schedule-all {
  .footer {
    &:before {

    }
  }
}

.wp-block-image {
    margin: 40px 0;

    img {
        display: block;
        border: 1px solid white;
        margin: 0 auto;
        box-shadow: 10px 10px 10px 0 #efefef;
    }

    &.is-style-image-padded {
        img {
            padding: 20px;
        }
    }

    figcaption {
        margin-top: 1em;
        font-style: italic;
        font-size: 12px;
        text-align: center;
    }
}

.wp-block-quote {
    overflow-wrap: break-word;
    background-color: #f7f7f7;
    padding: 40px;
    box-shadow: 10px 10px 10px 0 #efefef;
    border-radius: 10px;
    border: 1px solid white;
    margin: 40px 0;
}
// to do: split the styles here into their own partial for better organizing