.meetups {

   + .prefooter--sizemore {
      &:before {
         background-color: #f7f7f7;
      }
   }
}

.tribe-compatibility-container {
   padding: 70px 15vw;
   background-color: #F7F7F7;

   .tribe-events-widget-events-list__header {
      text-align: center;
      margin-bottom: 35px;

   }
   h2, h3, p, time, address {
      font-family: Poppins, sans-serif;
   }

   p {
      font-size: 14px;
      line-height: calc(21/14);
   }

   address {
      font-style: normal;

      .tribe-events-calendar-list__event-venue-title {
         margin-right: 5px;
      }
   }

   .tribe-events-l-container {
      padding: 0 !important;
      min-height: 0 !important;
   }

   .tribe-events-c-subscribe-dropdown__container {
      display: none !important;
   }

   .tribe-events-c-top-bar__today-button {
      background-color: transparent !important;
   }
}

.meetup-intro, .who-meetup, .meetup-cities {
   padding-top: 55px;
   padding-bottom: 55px;
   @extend .section-content-wrapper;
}

.meetup-intro, .who-meetup {

   > div {
      max-width: 800px;
      margin: 0 auto;

      > *:last-child {
         margin-bottom: 0;
      }
   }

   h2 {
      margin-bottom: 25px;
   }

   p, li {
      font-size: 16px;
      line-height: calc(24/16);
      margin-bottom: 20px;
   }

   li::marker {
      color: black;
   }

   p {
      + ul, + ol {
         margin-top: 25px;
      }
   }
}

.meetup-cities{
   // background-color:#F7F7F7;
   padding-top: 0;

   h2{
      text-align: center;
      margin-bottom: 30px;
   }
}

.cities-grid{
   display: -ms-grid;
   display: grid;
   -ms-grid-columns: 1fr 30px 1fr;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 30px;
   align-items: center;
   justify-content: center;

   &:not(:last-child){
      margin-bottom: 50px;
   }

   + .more {
      display: none;

      &.expanded {
         + .view-toggle {
            .view-more {
               display: none;
            }
         }
      }

      &:not(.expanded) {
         + .view-toggle {
            .view-less {
               display: none;
            }
         }
      }
   }

   @media screen and (min-width: 900px) {
      -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
      grid-template-columns: repeat(4, 1fr);
   }

   .city{
      a{
         text-decoration: none;
         img {
            margin-bottom: 10px;
            margin-top: 0;
         }
         h3{
            font-size: 18px;
            line-height: calc(27/18);
            margin-bottom: 0;
         }
         p{
            color: #000000;
            font-size: 13px;
         }
      }
   }
 }


 .photo-slider{
   position: relative;

   .slick-list {
      padding: 0 50px !important;

      @media(min-width: 600px){
         padding: 0 100px !important;
      }
   }

   .slick-arrow{
      position: absolute;
      top: 50%;
      transform:translate(0, -50%);
      color: transparent;
      height: 100%;
      width: 48px;
      z-index: 10;
      background: rgba(195,48,130,0.4);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 50%;

      @media(min-width: 600px){
         width: 98px;
         background-size: auto;
      }
   }
   .slick-prev{
      left: 0;
      background-image: url(/wp-content/themes/mlops/assets/icons/arrow/left/large/icon-arrow-left-large-white.svg);
   }
   .slick-next{
      right: 0;
      background-image: url(/wp-content/themes/mlops/assets/icons/arrow/right/large/icon-arrow-right-large-white.svg);
   }

   .photo {
      height: auto;
      // padding: 0 1px;
      margin-right: 2px;
      img {
         object-fit: cover;
         object-position: center;
         max-width: none;
         width: 100%;
         height: 100%;
         margin: 0;
      }
   }

   .slick-track {
      display: flex;
   }
 }

 .who-meetup {
   ul {
      @media (min-width: 600px){
         column-count: 2;
      }

      @media(max-width: 599px){
         list-style: none;
         text-align: center;
      }
   }
 }

 .view-toggle {
   font-size: 20px;
   line-height: calc(24/20);
   font-weight: 600;
   color: #C33182;
   text-align: center;
   margin: 50px auto 0;
   display: block;
 }